body{
    background-image: url("/static/pexels-rahulp9800-2792385.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
}

/* Header */
header{
    background:#FFD500;
    padding:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
}

/* Taxi logo */
header img{
    width:60px;
    height:60px;
    border-radius:8px;
}

/* Title */
header h1{
    margin:0;
    color:black;
}

/* Main container */
.container{
    text-align:center;
    margin-top:40px;
}

/* Booking button */
.book-btn{
    background:#FFD500;
    color:black;
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

/* Hover animation */
.book-btn:hover{
    background:black;
    color:#FFD500;
    transform:scale(1.1);
}

/* Pulse animation */
@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.08);}
    100%{transform:scale(1);}
}

.book-btn{
    animation:pulse 2s infinite;
}

form{
    background: rgba(0,0,0,0.6);
    padding:20px;
    border-radius:10px;
    width:250px;
}
