<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1>Driver Dashboard</h1>

<h2>Ride Requests</h2>

{% for ride in waiting_rides %}

<div style="border:1px solid black; padding:10px; margin:10px;">

<p><b>Pickup:</b> {{ ride[1] }}</p>
<p><b>Destination:</b> {{ ride[2] }}</p>
<p><b>Status:</b> {{ ride[3] }}</p>

<a href="/accept_ride/{{ ride[0] }}">
<button>Accept Ride</button>
</a>

</div>

{% endfor %}

<script>
let rideCount = {{ waiting_rides|length }};

setInterval(function(){
    fetch("/driver_dashboard")
    .then(response => response.text())
    .then(html => {
        let newCount = (html.match(/Accept Ride/g) || []).length;

        if(newCount > rideCount){    
           alert("🚕 New Ride Request!");
           rideCount = newCount;
           location.reload();
        }
    });
}, 5000);
</script>
